<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated telecare -->
      <package
            uri="http://hu.bme.mit.inf.concerto/telecare/example/tdk/1.0"
            class="hu.bme.mit.inf.concerto.telecare.example.tdk.model.telecare.TelecarePackage"
            genModel="model/telecare.genmodel"/>
   </extension>

</plugin>
