<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.refreshExtensionProvider">
      <refreshExtensionProvider
            providerClass="org.eclipse.viatra.sirius.incrementalrefresh.measurement.RefreshExtensionProvider">
      </refreshExtensionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.viatra.sirius.incrementalrefresh.measurement.commands.MeasurementCategory"
            name="Measurement">
      </category>
      <command
            categoryId="org.eclipse.viatra.sirius.incrementalrefresh.measurement.commands.MeasurementCategory"
            id="org.eclipse.viatra.sirius.incrementalrefresh.measurement.commands.MeasureIncrementalCommand"
            name="Measure - Incremental">
      </command>
      <command
            categoryId="org.eclipse.viatra.sirius.incrementalrefresh.measurement.commands.MeasurementCategory"
            id="org.eclipse.viatra.sirius.incrementalrefresh.measurement.commands.MeasureStandardCommand"
            name="Measure - Standard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.viatra.sirius.incrementalrefresh.measurement.handlers.MeasureIncrementalCommandHandler"
            commandId="org.eclipse.viatra.sirius.incrementalrefresh.measurement.commands.MeasureIncrementalCommand">
      </handler>
      <handler
            class="org.eclipse.viatra.sirius.incrementalrefresh.measurement.handlers.MeasureStandardCommandHandler"
            commandId="org.eclipse.viatra.sirius.incrementalrefresh.measurement.commands.MeasureStandardCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               commandId="org.eclipse.viatra.sirius.incrementalrefresh.measurement.commands.MeasureCommand"
               label="Measurement">
            <command
                  commandId="org.eclipse.viatra.sirius.incrementalrefresh.measurement.commands.MeasureIncrementalCommand"
                  label="Measure - Incremental"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.viatra.sirius.incrementalrefresh.measurement.commands.MeasureStandardCommand"
                  label="Measure - Standard"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
